{
  "openapi": "3.0.3",
  "info": {
    "title": "Wasmou API",
    "version": "1.0.0",
    "description": "Sell digital goods: catalog, purchase, delivery, game top-ups and per-client stock. All amounts are in DZD."
  },
  "servers": [
    {
      "url": "https://api.wasmou.net/api",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "Your API key from the Wasmou app (API access)."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "Insufficient balance."
          },
          "data": {
            "nullable": true
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number",
            "example": 10001
          },
          "available_balance": {
            "type": "number",
            "example": 10001,
            "description": "What you can spend right now."
          }
        }
      },
      "ClientStock": {
        "type": "object",
        "properties": {
          "variant_id": {
            "type": "integer"
          },
          "allocated": {
            "type": "integer",
            "nullable": true
          },
          "used": {
            "type": "integer"
          },
          "remaining": {
            "type": "integer",
            "nullable": true,
            "description": "Units you can buy right now. null when released (unrestricted)."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "expired",
              "exhausted",
              "released"
            ]
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "CatalogVariant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "description": "Your price in DZD."
          },
          "currency": {
            "type": "string",
            "example": "DZD"
          },
          "delivery": {
            "type": "string",
            "enum": [
              "instant",
              "topup",
              "key"
            ]
          },
          "in_stock": {
            "type": "integer",
            "nullable": true,
            "description": "Units left for key-based variants; null for instant and topup."
          },
          "available": {
            "type": "boolean"
          },
          "client_stock": {
            "$ref": "#/components/schemas/ClientStock"
          },
          "async": {
            "type": "boolean",
            "description": "True when the product is activated on the customer account after the order (subscriptions): the order stays `processing` for a while."
          },
          "warranty": {
            "type": "object",
            "nullable": true,
            "description": "Warranty of the variant, or null.",
            "properties": {
              "type": {
                "type": "string"
              },
              "days": {
                "type": "integer",
                "nullable": true
              }
            }
          }
        }
      },
      "CatalogProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "category_id": {
            "type": "integer",
            "nullable": true
          },
          "requires_input": {
            "type": "boolean"
          },
          "input_fields": {
            "type": "array",
            "description": "Extra inputs to send with the purchase when requires_input is true. Send each value in the purchase body under its `index` as the key.",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "type": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "placeholder": {
                  "type": "string"
                }
              }
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogVariant"
            }
          },
          "kind": {
            "type": "string",
            "enum": [
              "key",
              "giftcard",
              "topup",
              "telegram_premium",
              "telegram_stars"
            ],
            "description": "How the product is fulfilled. Top-up kinds send the credit to the player or Telegram username given in the inputs."
          },
          "guide": {
            "type": "string",
            "nullable": true,
            "description": "Activation steps for the customer, in the language of `lang`."
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "example": "06061206"
          },
          "product_name": {
            "type": "string"
          },
          "variant_name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "completed",
              "delivered",
              "failed",
              "refunded",
              "canceled"
            ],
            "description": "Final unless `processing`."
          },
          "key": {
            "type": "string",
            "nullable": true,
            "description": "The delivered code, once available."
          },
          "has_key": {
            "type": "boolean"
          },
          "price": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "purchase_timestamp": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  },
  "paths": {
    "/status": {
      "get": {
        "summary": "Service status",
        "description": "Health of the gateway. No API key needed.",
        "tags": [
          "Account"
        ],
        "operationId": "status",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "ok"
                        },
                        "uptime": {
                          "type": "string"
                        },
                        "services": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "summary": "Get account",
        "description": "Your profile and balances.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "balance": {
                          "type": "number"
                        },
                        "available_balance": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "operationId": "getAccount"
      }
    },
    "/balance": {
      "get": {
        "summary": "Get balance",
        "description": "Check what you can spend before ordering.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Balance"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "operationId": "getBalance"
      }
    },
    "/catalog": {
      "get": {
        "summary": "Get catalog",
        "description": "Every active product and variant with your price, delivery mode and stock, in one response. Safe to refresh every few minutes.",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "products": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CatalogProduct"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Only products of this category."
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language of the activation `guide`.",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr",
                "ar"
              ]
            }
          }
        ],
        "operationId": "getCatalog"
      }
    },
    "/products": {
      "get": {
        "summary": "List products",
        "description": "Products with their variants (lighter than the catalog: no delivery mode or stock counts).",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogProduct"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "operationId": "listProducts"
      }
    },
    "/products/{productId}/variants": {
      "get": {
        "summary": "List variants of a product",
        "description": "Available variants with your price.",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogVariant"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "operationId": "listVariants"
      }
    },
    "/products/purchase/{variantId}": {
      "post": {
        "summary": "Purchase a variant",
        "description": "Buys `quantity` units of a variant. Your wallet is debited and, for allocated variants, your stock is consumed, in one transaction. Returns the order IDs; fetch the code with the retrieve endpoint. Include any `input_fields` listed in the catalog.",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "order_ids": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "count": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "403": {
            "description": "Insufficient balance (or IP not allowed)"
          },
          "422": {
            "description": "Not enough allocated stock for your account"
          },
          "400": {
            "description": "Validation error, out of stock or unavailable"
          }
        },
        "parameters": [
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "description": "Variant ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A unique value (8 to 128 characters) for this purchase. Retrying the same request with the same key returns the original answer (header `Idempotent-Replay: true`) and never charges twice. Reusing a key with a different body returns 422. Keys are remembered for 24 hours.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "quantity"
                ],
                "properties": {
                  "quantity": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "example": 1
                  },
                  "key_id": {
                    "type": "integer",
                    "description": "Optional. A specific key to buy; if omitted one is assigned for you."
                  }
                },
                "additionalProperties": true,
                "description": "Plus any product-specific input fields (for example player_id)."
              }
            }
          }
        },
        "operationId": "purchase"
      }
    },
    "/products/order/{orderId}": {
      "get": {
        "summary": "Get an order",
        "description": "Status and delivered code of one order.",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "Order ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getOrder"
      }
    },
    "/products/orders/retrieve": {
      "post": {
        "summary": "Retrieve several orders",
        "description": "Status and codes for up to many orders in one call. Use this to poll.",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "order_ids"
                ],
                "properties": {
                  "order_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "06061206",
                      "47273778"
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "retrieveOrders"
      }
    },
    "/orders": {
      "get": {
        "summary": "List all orders",
        "description": "Every order on your account (gift cards, game top-ups and keys), newest first.",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "order_id": {},
                          "product_name": {
                            "type": "string"
                          },
                          "variant_name": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "operationId": "listOrders"
      }
    },
    "/stock": {
      "get": {
        "summary": "List your stock",
        "description": "Your per-variant allocations.",
        "tags": [
          "Stock"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ClientStock"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "product_id": {
                                "type": "integer"
                              },
                              "product_name": {
                                "type": "string"
                              },
                              "variant_name": {
                                "type": "string"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "operationId": "listStock"
      }
    },
    "/stock/{variantId}": {
      "get": {
        "summary": "Get stock for a variant",
        "description": "Your allocation for one variant. If you have none, `restricted` is `false`.",
        "tags": [
          "Stock"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "variant_id": {
                          "type": "integer"
                        },
                        "restricted": {
                          "type": "boolean"
                        },
                        "allocated": {
                          "type": "integer",
                          "nullable": true
                        },
                        "used": {
                          "type": "integer"
                        },
                        "remaining": {
                          "type": "integer",
                          "nullable": true
                        },
                        "status": {
                          "type": "string"
                        },
                        "expires_at": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "description": "Variant ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "operationId": "getStock"
      }
    },
    "/catalog/{id}/verify": {
      "post": {
        "summary": "Verify a player ID",
        "description": "Checks a game player ID with the supplier before you order a top-up. Send the inputs keyed by their `index` (see `input_fields` in the catalog). Only products with `kind` `topup` are supported.",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "operationId": "verifyPlayer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "example": {
                  "0": "123456789",
                  "1": "2001"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "valid",
                        "invalid",
                        "unknown"
                      ]
                    },
                    "player_name": {
                      "type": "string",
                      "nullable": true
                    },
                    "region": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "A required input is missing"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  }
}
